.container {
  height: 100vh;
  padding: 100px;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: 4px 4px 4px 4px #bfbfbf;
  padding: 40px;
}
.sub-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #94a3b8;
  padding-bottom: 10px;
  width: 100%;
  height: 100%;
}
.main-container-head {
  font-family: 'Roboto';
  font-size: 40px;
  font-weight: bold;
  color: #1e293b;
}
.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.content-container-info {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  color: #475569;
  margin-bottom: 0px;
}
.content-container-input {
  font-family: 'Roboto';
  outline: none;
  font-size: 15px;
  color: #475569;
  padding-left: 10px;
  height: 30px;
  width: 70%;
  border: 1px solid #cbd2d9;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 5px;
}
.content-comment-area {
  font-family: 'Roboto';
  font-size: 15px;
  outline: none;
  border-radius: 5px;
  color: #475569;
  padding-left: 10px;
  border: 0.5px solid #cbd2d9;
}
.comment-add-button {
  font-family: 'Roboto';
  font-size: 15px;
  outline: none;
  text-align: center;
  cursor: pointer;
  background-color: #0284c7;
  color: #ffffff;
  border: 0px;
  border-radius: 5px;
  height: 30px;
  width: 120px;
  margin-top: 10px;
}
.comments-img-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}
.comments-img {
  margin-left: 50px;
  height: 75%;
  width: 80%;
}
.comment-count {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 15px;
  color: #ffffff;
  background-color: #0284c7;
  padding: 5px;
  border-radius: 5px;
}
.comment-count-info {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: bold;
  color: #1e293b;
}
.comment-container {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

