.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}
.comment-item-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  box-shadow: 1px 1px 1px 1px #bfbfbf;
  margin-bottom: 20px;
}
.comment-details-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.name-time-comment-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 10px;
  flex-grow: 1;
  width: 100%;
}
.name-icon {
  height: 80%;
  border-radius: 50%;
  padding: 15px;
  flex-grow: 0;
}
.name-time-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  flex-grow: 1;
  margin-bottom: 0px;
}
.name {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: bold;
  color: #334155;
  margin-bottom: 0px;
}
.time {
  font-family: 'Roboto';
  font-size: 15px;
  color: #94a3b8;
  margin-bottom: 0px;
  margin-left: 20px;
}
.comment-content {
  font-family: 'Roboto';
  font-size: 15px;
  color: #94a3b8;
  max-width: 850px;
  height: 100%;
  overflow-y: auto;
  overflow-x: auto;
}
.functionality-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.like-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.like-btn {
  border: 0px;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}
.like-img {
  height: 25px;
  width: 30px;
}
.like {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: #94a3b8;
  margin-left: 15px;
}
.liked {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: #94a3b8;
  margin-left: 15px;
}
.delete-btn {
  border: 0px;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  text-align: center;
}
.delete-img {
  height: 25px;
  width: 20px;
}
